name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov

      # รันทั้งหมด (เฉพาะโฟลเดอร์ tests ของ order-service)
      - name: Run all tests
        run: python -m pytest order-service/tests -q

      - name: Run topdown tests
        run: python -m pytest order-service/tests -m topdown -q

      - name: Run bottomup tests
        run: python -m pytest order-service/tests -m bottomup -q

      - name: Run sandwich tests
        run: python -m pytest order-service/tests -m sandwich -q

      - name: Coverage
        run: python -m pytest order-service/tests --cov -q
